
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Nav & Logo Style Starts Section Starts  */

li, a {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: black;
    color: white;
    padding: 10px;
}

.nav-bar {
    list-style: none;
}

.nav-bar li {
    display: inline-block;
    padding: 15px 20px;
}

.nav-bar li a:hover {
    color: green;
}

/* Nav & Logo Style Starts Section Ends  */

/* Hero Section Starts  */

.hero {
    height: 200px;
    background-image: url(./Images/hero.jpg);
    background-position: 40% 30%;
    margin: 50px 50px;
}

.port {
    text-align: right;
    font-size: 50px;
    color: white;
    padding-top: 90px;
    padding-right: 20px;
    font-weight: bold;
}

.JPG {
    margin: auto;
    display: block;
    padding-bottom: 10px;
}

/* Hero Section Ends  */

/* About Me Section Starts  */

.container1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.container1 div {
    padding: 10px;
}

.item1 {
   max-width: 500px;
   height: 200px;
   text-align: right;
   font-size: 70px;
   font-weight: bold;
}

.item2 {
    grid-column: span 4;
    font-size: 40px;
    border-left: 3px solid black;
}
/* About Me Section Ends  */

/* Work Section Starts  */
.container2 {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(5 1fr);
    max-width: 1300px;
}

.work {
    width: 295px;
    grid-column-start: -6;
    grid-row-start: 1;
    grid-row-end: 4;
    text-align: right;
    font-size: 70px;
    font-weight: bold;
    padding-right: 10px;
    border-right: 3px solid black;
}

.surf-report {
    grid-column-start: -5;
    grid-column-end: -1;
    height: 200px;
    background-image: url(./Images/placeholder-image1.jpg);
    background-position: 50% 50%;
    right: 200px;
    opacity: 0.6;
}

.led-wall {
    grid-column-start: -5;
    grid-column-end: -3;
    height: 100px;
    background-image: url(./Images/ruby1.jpg);
    background-position: 50% 50%;
    opacity: 0.6;
}

.JavaScript {
    grid-column-start: -3;
    grid-column-end: -1;
    height: 100px;
    background-image: url(./Images/javascript-illustration.jpg);
    background-position: 90% 50%;
    opacity: 0.6;
}

.Caculator {
    grid-column-start: -5;
    grid-column-end: -3;
    height: 100px;
    background-image: url(./Images/caculator.jpg);
    background-position: 50% 40%;
    opacity: 0.6;
}

.run-buddy{
    grid-column-start: -3;
    grid-column-end: -1;
    height: 100px;background-image: url(./Images/placeholder3.jpg);
    background-position: 50% 40%;
    opacity: 0.6;
}

.work:hover, .surf-report:hover, .led-wall:hover, .JavaScript:hover, .Caculator:hover, .run-buddy:hover{
    opacity: 1;
    cursor: pointer;
}
/* Work Section Ends  */

/* Contact Section Starts */
.container3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
    padding-top: 20px;
    padding-left: 20px;
}

.Contact {
   text-align: right;
   font-size: 70px;
   font-weight: bold;
   border-right: 3px solid black;
   padding-right: 10px;
   padding-left: 25px;
}

.footer-items {
    display: grid;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    font-size: 20px;
}
.footer-items:hover {
    color: green;
}

/* Contact Section Ends */

